/*initial---------------------------------------------------------------------*/

@import "./poppins.css";
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

:root {
  /* 1: #B53471;
  2: #833471;
  3: rgba(181, 52, 113, .5);
  4: #ED4C67;
  5: #6F1E51;
  6: #ED4C67; */
  --primary-color: #12BBAD;
  --primary-hover: #0d877d;
  --primary-focus: rgba(18, 187, 173, .5);
  --price-color: #00AF66;
  --info-color: #17AACB;
  --search-focus: #0bdc8f;
  --disabled-color: #CFCFCF;
  --danger-color: #EF3534;
  --danger-hover: #ED1D1C;
  --discount-color: rgba(140, 122, 230, .9);

  --sub-color: #ccc;
  --secondary-color: #868E96;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  overflow: auto;
  font-size: 1em;
  font-weight: 300;
  margin:0;
  padding:0;
  height:100%;
}
p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-bottom: 0.75rem;
  line-height: 1.2;
  color: inherit;
}

/* primary */
.bg-custom-primary {
  background-color: var(--primary-color) !important;
}
.btn-custom-primary {
  color: #fff !important;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-custom-primary:hover {
  color: #fff;
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn-custom-primary:focus, .btn-custom-primary.focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem var(--primary-focus);
}
.btn-custom-primary.disabled, .btn-custom-primary:disabled {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active, .show>.btn-custom-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-custom-primary.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem var(--primary-focus);
}

/* sub */
.btn-custom-sub {
  color: #212529;
  background-color: var(--sub-color);
  border-color: var(--sub-color);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-custom-sub:hover {
  color: #212529;
  background-color: #b9b9b9;
  border-color: #b3b3b3;
}
.btn-custom-sub:focus, .btn-custom-sub.focus {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(204, 204, 204, 0.5);
}
.btn-custom-sub.disabled, .btn-custom-sub:disabled {
  color: #212529;
  background-color: var(--sub-color);
  border-color: var(--sub-color);
}
.btn-custom-sub:not(:disabled):not(.disabled):active, .btn-custom-sub:not(:disabled):not(.disabled).active, .show>.btn-custom-sub.dropdown-toggle {
  color: #212529;
  background-color: #b3b3b3;
  border-color: #acacac;
}
.btn-custom-sub:not(:disabled):not(.disabled):active:focus, .btn-custom-sub:not(:disabled):not(.disabled).active:focus, .show>.btn-custom-sub.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(204, 204, 204, 0.5);
}

/* link */
a {
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-hover);
}
.page-link, .page-link:focus, .page-link:hover {
  color: var(--primary-color);
  border-radius: 0px !important;
}
.page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* button + form */
.btn {
  border-radius: 2px;
}
.form-control[readonly] {
  background-color: white;
}
*:disabled {
  background: #B9B9B9 !important;
  border-color: #B9B9B9 !important;
}
.custom-select {
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
  border: 0px;
  border-bottom: 1px solid var(--primary-color);
}
textarea {
  border-radius: 0px !important;
}

/* card & modal */
.card {
  border-radius: 0px;
}
.modal-open {
  overflow: hidden !important;
}
.modal-content {
  border-radius: 0px;
}
.modal-header {
  background: #12BBAD;
  border-radius: 0px;
  color: white;
}
.modal-footer {
  border-top: none;
  background: #F7F7F7;
  padding: 12px;
}

/* icons */
.fa-star, .fa-star-half-alt {
  color: #FACA51;
  font-size: .9em;
  margin-right: -.8px;
}
.fa-check-circle {
  color: #00AF66;
}
.fa-circle {
  color: #B9B9B9;
}
.fa-trash {
  font-size: .9em !important;
}
.fa-tags {
  color: var(--discount-color);
}
.fa-tags.discount-modal {
  font-size: .6em;
  vertical-align: 2.5px;
  cursor: pointer;
}

/*General---------------------------------------------------------------------*/

/* Font */
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.fs-1em {
  font-size: 1em !important;
}
.fs-09em {
  font-size: .9em !important;
}
.fs-08em {
  font-size: .8em !important;
}
.fs-07em {
  font-size: .7em !important;
}

.lh-p3em {
  line-height: 1.3em !important;
}

/* Text */
.indent {
  text-indent: 2.0em;
}
.text-black {
  color: black !important;
}
.no-decoration {
  text-decoration: none !important;
}
.text-brand {
  color: #2980b9;
}
.text-variant {
  color: #218c74;
}
.text-package {
  color: #cd6133
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Text Align */
.align-left {
  text-align: left !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}

/* Links */
.fake-link {
  color: var(--primary-color) !important;
}
.fake-link:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--primary-color) !important;
}
.cursor-pointer {
  cursor: pointer;
}

/* Input */
input.material {
  border-radius: 0px;
  border: none;
  border-bottom: 2px solid #D9D9D9;
  transition: all 0.25s ease;
}
input.material:focus, input.material:active {
  border-bottom-color: var(--primary-color);
  outline: none;
  box-shadow: none;
}
input#mobile {
  padding-left: 41px;
}
#mobile-label::after {
  content: '+63';
  position: absolute;
  bottom: -37.5px;
  left: 12px;
  font-weight: 400;
}
.required-field {
  position: relative;
}
.required-field::after{
  content:'*';
  color: var(--info-color);
  font-size: 1.2em;
  position: absolute;
  right: -9px;
  top: -2px;
}

/* Button */
.no-focus:focus, .no-focus:active {
  outline: none !important;
  box-shadow: none !important;
}

/* Display */
.block-none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.clear-opacity {
  opacity: 1 !important;
}
.w-fit {
  width: fit-content;
}

/* FLoat */
.fl-r {
  display: inline;
  float: right;
}
.fl-l {
  display: inline;
  float: left;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

/* Vertical Align */
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}

/* Position */
.pos-static {
  position: static;
}
.pos-relative {
  position: relative;
}
.pos-inherit {
  position: inherit;
}

/* Border */
.radius-0 {
  border-radius: 0px;
}
.border-none{
  border: 0 !important;
}

/* Div */
.x-scrolling-div {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* Sizing */
.h-auto {
  height: auto !important;
}
.w-auto {
  width: auto !important;
}

/* Notice */
.notice {
  background: #F6F6F6;
  border: 0px;
  border-radius: 0px;
  padding: 12px;
}

/* Character Count */
.txtcount-div {
  position: absolute;
  bottom: 8px;
  right: 10px;
  background: #868E96;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  color: white;
}

/* Price Before */
.price-symbol::before {
  content: '₱ ';
}
.price-color {
  color: var(--price-color);
}

#notice {
  transition: all 0.25s ease;
}

/* Pills */
li.nav-item > a{
  border-radius: 2px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: var(--primary-color);
}

/*Custom----------------------------------------------------------------------*/
body {
  background: #F7F7F7;
  padding: 0px !important;
}

#container {
   min-height: 100%;
   position:relative;
}
#body {
  padding-bottom: 60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

/* Loader ----------------------------------------------------- */
.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid var(--primary-color);
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Message Page --------------------------------------------------*/
#container-messagepage .inner {
  background: rgba(255,255,255,.9);
  border-radius: 0;
  padding: 30px 20px;
  text-align: center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  margin-left: auto;
  margin-right: auto;
}


/* Navbar ----------------------------------------------------- */
.navbar {
  z-index: 20;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0px 0px 1px black;
}
.navbar-dark .navbar-nav .nav-link {
  color: white
}
.navbar .fa, .navbar .fas {
  font-size: 1em
}

/* Nav searchbar */
.searchbar {
  padding-top: 2px;
}
.search > input {
  width: 0px;
  margin-left: 0px;
  border-radius: 2px;
  transition: all 0.25s ease;
}
.searchbar button {
  height: 31px;
  padding-top: 3px;
  border-radius: 2px;
  transition: all 0.25s ease;
}
.searchbar i {
  border: none;
  transition: background 0.25s ease;
}
.search > input:focus + div button, .search > input:focus + div i {
  border: 1px solid var(--search-focus);
  background: var(--search-focus);
  color: white;
}
.search > input:focus {
  border: 1px solid var(--search-focus);
  box-shadow: none;
}

/* Nav Dropdown*/
#hzline {
  margin: 7px 0px !important;
}
.dropdown-item:active {
  background-color: var(--primary-color);
}
nav .dropdown-item:hover {
  color: white;
  background-color: var(--primary-color);
}

/* Home ----------------------------------------------------- */
/* Banner */
.banner {
  background: url("/assets/images/static/green2.jpg") fixed;
  background-size: 100% 100%;
  margin-top: 55px;
  padding: 5px 0px 30px;
}
.banner-img {
  width: 100%;
  height: 329px;
}
.carousel-indicators>li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0px 5px;
}

/* Sidebar (to be changed) ------------------------------------- */
#sidebar {
  margin-top: 3.6rem;
}
#sidebar>.row>.col:first-of-type {
  min-width: 270px;
  max-width: 270px;
  padding: 15px 15px 20px 20px;
  z-index: 5;
}
#sidebar>.row>.col:first-of-type h5 {
  padding: 3px 10px;
  border-left: 4px solid rgba(0, 0, 0, 0);
  transition: border 0.2s linear;
}
#sidebar>.row>.col:first-of-type>h5:hover {
  border-left: 4px solid rgba(0, 0, 0, 0) !important;
}
#sidebar>.row>.col:first-of-type a {
  text-decoration: none;
}
#sidebar>.row>.col:first-of-type h5:hover {
  border-left: 4px solid var(--primary-color);
}
#sidebar>.row>.col:last-of-type {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sidebar #main-content .card-body {
  min-height: 175px;
}

#topbar {
  margin-bottom: 10px;
  display: none;
}
#topbar a {
  text-decoration: none;
}
#topbar span {
  line-height: 1.7
}

#sidebar #main-content {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px #F2F2F2;
  border-radius: 3px;
  padding: 15px;
  overflow: auto;
}
#sidebar #main-content #title {
  margin-bottom: 3px;
  font-size: 1.1em;
  font-weight: 400;
  padding: 0px 0px 4px 4px;
}

/* table  */
.tab {
  overflow-x: auto;
}
table {
  font-weight: 400;
  white-space: nowrap;
}
table th {
  font-weight: 500;
}
table > thead {
  border-top: 2px solid var(--primary-color);
  background: #F7F7F7;
}
table thead th {
  border-bottom: none !important;
}
table th, table td {
  border: 1px solid #ECEFF0;
}

/* Account Orders */
#order-filter{
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: .9em;
  font-weight: 400;
}
#order-filter select{
  border: none;
  background: none;
}

/* Account Messages */
#messages-content {
  border-top: 2px solid var(--primary-color);
}

#messages-content > .message-div {
  border-bottom: 1px solid #B7B7B7;
  margin: 0px;
  padding: 15px;
}
#messages-content > .message-div.seen {
  background: #F7F7F7;
}
/* #messages-content > .message-div > .col {
  background: #F7F7F7;
  border: 1px solid black;
} */

/* Footer ------------------------------------------------------------ */
.foot {
  background: url("/assets/images/static/organic2.jpg") fixed;
  color: white;
  text-shadow: 1px 1px 4px #000000;
  position: relative;
}
.foot-cont {
  background-color: rgba(49, 44, 43, 1);
}
.foot a, .foot p, .foot h2 {
  color: white;
  text-shadow: 1px 1px 4px #000000;
}
.foot p {
  color: white;
  text-shadow: 1px 1px 4px #000000;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.foot a:hover {
  text-decoration: underline;
}
.foot ul.social a i {
  font-size: 1em;
  transition: all 0.2s linear;
}
.foot ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}

/* Store------------------------------------------------------------ */
#store-container {
  margin-top: 70px;
}
#store-container hr {
  margin-top: .25rem;
  margin-bottom: 5px;
}

#store-sidebar > div, #store-main > div {
  background: white;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px #F2F2F2;
  margin-bottom: 10px;
}

/* store-sidebar */
#store-sidebar {
  margin-right: 10px;
  width: 230px !important;
}
  #store-sidebar div , #filters-div div{
    position: relative;
  }
  #store-sidebar input[type=checkbox], #filters-div input[type=checkbox]{
    position: absolute;
    top: 3.3px;
  }

  #store-sidebar .price-range-div input, #filters-div .price-range-div input {
    width: 87px;
    font-size: .9em;
  }
  #store-sidebar button, #filters-div button {
    height: 25px;
    padding-top: 1px;
  }

/* store-main */
  #store-main > div:first-child #filters-link {
    display: none;
    font-size: .9em;
    font-weight: 400;
    margin-top: 2px;
  }
  #store-main > div:first-child {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  #store-main > div:first-child p {
    font-size: .9em;
    font-weight: 400;
  }
  #store-main .filter-tag {
    border: 1px solid #E5E2E2;
    border-radius: 5px;
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 1px 3px 0px;
    background: #F7F7F7;
  }
  #store-main .filter-tag:last-of-type {
    margin-right: 0px;
  }
  #store-main .filter-tag .fa-times{
    cursor: pointer;
    color: gray;
  }

  #store-main .sort{
    position: absolute;
    right: 20px;
    top: 7px;
  }
  #store-main .sort select{
    border: none;
    font-size: .9em;
    font-weight: 400;
    background: none;
  }

  #store-main > div:nth-child(2) {
    background: white;
    box-shadow: 0px 0px 5px #F2F2F2;
    padding-left: 23px;
    padding-right: 20px;
    text-align: left;
  }
  #store-main .custom-card {
    margin: 8px 5px;
    text-align: left;
  }

  #store-main #filters-div {
    display: none;
  }
  #store-main #filterClearDiv {
    margin: 3px 0px;
  }

/* Product------------------------------------------------------ */
:root {
  --item-img-width: 270px;
}

#item-container {
  margin-top: 65px;
}
#item-container .breadcrumb {
  background: none;
}

#item-main-pane > div, #item-review-pane > div {
  background: white;
  padding: 15px;
  box-shadow: 0px 3px 6px #F2F2F2;
  margin-bottom: 10px;
  position: relative;
}

#item-main-pane {
  width: 70%;
}
#item-main-pane .fa-share-alt {
  position: absolute;
  top: 3.5px;
  right: 0px;
}
#item-main-pane > div:nth-child(2) img {
  position: absolute;
  width: var(--item-img-width);
  height: 300px;
}
#item-main-pane #main-desc {
  position: relative;
  margin-left: var(--item-img-width);
  padding: 0px 0px 0px 15px;
  min-height: 300px;
}
#item-main-pane #main-desc p{
  font-size: 1.4em;
  line-height: 1.2em;
}
#item-main-pane #main-desc > div{
  height: 150px;
}
#item-main-pane #main-desc #cart-modal-btn{
  display: none;
  position: absolute;
  width: calc(100% - (15px));
  height: 50;
  bottom: 0;
  padding-top: 12px;
  background: white;
}

#item-main-pane #options-container {
  position: absolute;
  height: 89px !important;
  width: calc(100% - (15px));
  bottom: 0;
  background: white;
  padding-top: 12px;
}
#item-main-pane #item-options{
  float: right;
  z-index: 10;
  background: white;
  height: auto !important;
  width: 358.03px;
}

#item-main-pane #item-options > div:nth-child(2){/*size,price*/
  float: right;
  height: 77px;
  border: none;
  margin-right: 10px;
  width: 230.5;
  position: relative;
  text-align: right;

}
#item-main-pane #item-options .select-size {
  height: 30px;
  max-width: 230;
  border-radius: 0px;
  box-shadow: 0px 0px 0px;
  border: 0px;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 5px;
}
#item-main-pane #item-options > div:nth-child(2) > p {
  color: var(--price-color);
}

#item-main-pane #item-options > div:nth-child(1){/*quantity,add-to-cart*/
  float: right;
}
#item-main-pane .quantity{
  width: 117.44px;
  height: 31px;
}
#item-main-pane .quantity input{
  border-top: none;
  border-bottom: none;
}
#item-main-pane .quantity-buttons{
  width: 30px;
}
#item-main-pane .quantity-text{
  font-size: 1.2em;
  top: 2px;
}
#item-main-pane .quantity-text-minus{
  left: 12px;
}
#item-main-pane .quantity-text-plus{
  left: 10px;
}

#item-main-pane > div:nth-child(3) {
  height: 355px;
}
#item-main-pane > div:nth-child(4) {
  height: 355px;
}

#item-review-pane {
  width: 30%;
  padding-left: 10px;
}
#item-review-pane > div {
  min-height: 1124.5px;
}
#item-review-pane #rating {
  height: 70px;
}

#item-review-pane #rating > div {
  padding: 0px 10px;
  white-space: nowrap;
}
#item-review-pane #rating > div:first-child {
  width: 43%;
  text-align: right;
}
#item-review-pane #rating > div:nth-child(2) {
  width: 57%;
  line-height: 1em;
}

#item-review-pane .review-name {
  font-size: .9em;
}
#item-review-pane .review-desc {
  font-size: .75em;
}

/* Summary --------------------------------------------------- */
:root{
  --summary-details-pane-width: 300px;

  --summary-products-col-width: calc(100% - 278.4px);
  --summary-price-col-width: 190px;
  --summary-quantity-col-width: 80px;

}
#summary-container {
  margin-top: 70px;
}

#summary-main-pane > div, #summary-details-pane > div {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 3px 6px #F2F2F2;
  position: relative;
}

#summary-main-pane {
  width: calc(100% - var(--summary-details-pane-width));
}
#summary-main-pane #header {
  background: #ECEFF0;
}
#summary-main-pane .products-col {
  width: var(--summary-products-col-width);
}
#summary-main-pane .price-col {
  width: var(--summary-price-col-width);
}
#summary-main-pane .quantity-col {
  width: var(--summary-quantity-col-width);
}

#summary-main-pane .product-div {
  padding-top: 15px;
}
#summary-main-pane .product-div:last-of-type {
  padding-bottom: 15px;
}
#summary-main-pane .product-div > div:first-child {
  min-height: 100px;
  width: var(--summary-products-col-width);
}
#summary-main-pane .product-div img {
  position: absolute;
}
#summary-main-pane .product-div .img-link + div{
  margin-left: 100px;
}
#summary-main-pane i.fa {
  font-size: 1.1em;
  color: #a8b0b7;
  transition: all 0.25s ease;
}
#summary-main-pane .fa-trash:hover {
  color: #868E96;
}
#summary-main-pane .price {
  display: none;
}
#summary-main-pane .price p:first-of-type{
  color: var(--price-color);
}

#summary-main-pane .product-div > div:nth-child(2) {
  width: var(--summary-price-col-width);

}
#summary-main-pane .product-div > div:nth-child(2) p:first-of-type{
  color: var(--price-color);
}

#summary-main-pane .product-div > div:nth-child(3) {
  width: var(--summary-quantity-col-width);
}
#summary-main-pane .product-div > div:nth-child(3) i.fa {
  display: none;
}

#summary-details-pane{
  padding-left: 10px;
  width: var(--summary-details-pane-width);
}
#summary-details-pane > div p:first-of-type{
  font-size: .9em;
  font-weight: 400;
}
#summary-details-pane > div a.edit{
  position: absolute;
  right: 15px;
  padding-top: 2px;
}
#summary-details-pane > div .address{
  color: #868686;
  line-height: 1.3;
}

#summary-details-pane > div .label{
  font-size: .8em;
}
#summary-details-pane > div .price{
  font-size: .9em;
  position: absolute;
  right: 15px;
}
#summary-details-pane > div .label-total{
  font-size: .9em;
}
#summary-details-pane > div .total{
  color: var(--price-color);
  font-size: 1em;
}
#summary-details-pane > div input[type=text]{
  width: calc(100% - 62px);
  font-size: .9em;
}
#summary-details-pane > div .vat{
  font-size: .7em;
  top: -4;
  right: 0;
}
#summary-details-pane > div input[type=radio] {
  position: absolute;
  top: 6px;
}

/* summary > order */
#summary-details-pane #more-details {
  position: absolute;
  bottom: 15px;
}
#summary-details-pane #payment-method::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #0ECE7F;
  vertical-align: sub;
  margin-right: 3px;

}
#summary-main-pane .fa-minus-circle:hover {
  color: var(--danger-hover);
}
#summary-details-pane > div:nth-child(2) > p:nth-of-type(2) {
  color: var(--primary-color)
}

#bankslip-img {
  max-height: 250;
  max-width: 100%;
  display: block;
}
#del-bs:hover {
  color: black !important;
}

/* stepper */
.steps-form {
  width: 100%;
  position: relative;
}
.steps-form .step{
  border: none;
  padding: 1px 10px;
  color: white;
  background: var(--sub-color);
  position: relative;
  box-shadow: 0px 3px 6px var(--sub-color);
}
.steps-form .step-active{
  background: var(--primary-color);
}
.steps-form .steps-row:before {
  top: 50%;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 98%;
  height: 2px;
  background: linear-gradient(270deg, #03e698, #18b2ec);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  -o-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


/* FAQs --------------------------------------------------------------------- */
:root{
  --faq-contact-pane-width: 300px;
}
#faq-container {
  margin-top: 70px;
}
#faq-container i.fa-question-circle {
  font-size: 1.1em;
}

#faq-main-pane > div, #faq-contact-pane > div {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 3px 6px #F2F2F2;
  position: relative;
}

#faq-main-pane {
  width: calc(100% - var(--faq-contact-pane-width));
}
#faq-main-pane .question{
  cursor: pointer;
}
#faq-main-pane .answer-block{
  margin-top: 5px;
  padding: 10px;
  background: #F9F9F9;
  border: none;
  border-radius: 0px;
  display: none;
}
#faq-main-pane input{
  width: 100%;
  font-size: .9em;
  padding: 5px;
}

#faq-contact-pane {
  padding-left: 10px;
  width: var(--faq-contact-pane-width);
}

/* Custom Alert --------------------------------------------*/

.alert {
  background: #272A2A;
  color: white;
  padding: 20px 0px 20px 0px;
  border: none;
  border-radius: 0;

  position: fixed;
  bottom: 15;
  left: 25;
  z-index: 15;

  max-width: 0px;
  max-height: 94px;

  transition: all 1s ease;
}
.alert div {
  /* white-space: nowrap; */
  opacity: 0;
  height: 50px;
  overflow: hidden;
  transition: opacity .7s ease-in;

}

/* Package Modal */
#package-modal .modal-dialog {
  width: 420px;
}
#package-modal .package-title{
  font-size: 1.3em
}
#package-modal hr{
  margin: 10px 0px 8px
}
#package-modal .close{
  position: absolute;
  right: 15;
  top: 17.5;
}
#package-modal #products-list p {
  padding: 6px 0 0 0;
  margin: 0;
  line-height: 1.3em;
}
#package-modal #products-list p:first-of-type {
  padding-top: 4px;
}
#package-modal #products-list p:last-of-type {
  margin-bottom: 10px;
}

#package-modal .price-pane > p:first-child {
  margin-top: 5px;
  font-size: 1.1em;
}
#package-modal .price-pane > p:nth-child(2) {
  margin-top: 5px;
  font-size: 1.6em;
}

#package-modal .quantity{
  width: 98px;
  height: 24px;
  margin-bottom: 7px !important;
}
#package-modal .quantity-text {
  top: 2.8px !important;
}
#package-modal .quantity .input-group-prepend,
#package-modal .quantity .input-group-append{
  margin-left: 0px !important;
}
#package-modal button.add-button{
  border-radius: 0;
}

.package-details, .package-details-modal {
  cursor: pointer;
}
.package-details:hover, .package-details-modal:hover {
  text-decoration: underline;
}

/* Order Sucess */
#orderSuccess-container {
  margin-top: 70px;
}
#orderSuccess-container > div {
  background: white;
  margin-bottom: 10px;
  padding: 15px 0px;
  box-shadow: 0px 3px 6px #F2F2F2;
  position: relative;
  width: 100%
}

#orderSuccess-container .home-link {
  color: #707070;
}
#orderSuccess-container .links-div {
  display: none;
}
#orderSuccess-container > div:first-child > a:first-of-type,
#orderSuccess-container > div:first-child > a:nth-of-type(2) {
  position: absolute;
  margin-top: 2px;
}
#orderSuccess-container > div:first-child > a:first-of-type {
  left: 15px;
}
#orderSuccess-container > div:first-child > a:nth-of-type(2) {
  right: 15px;
}

#orderSuccess-container .products-container *{
  text-align: left;
}
#orderSuccess-container .custom-card{
  margin: 8px 5px;
}

/* Consignor ---------------------------------------------------------------- */
:root {
  --sales-products-col-width: calc(100% - 339px);
  --sales-price-col-width: 120px;
  --sales-quantity-col-width: 80px;
  --sales-sales-col-width: 120px;
}

#sales-container {
  margin-top: 70px;
}

#sales-nav-pane > div, #sales-main-pane > div {
  background: white;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 3px 6px #F2F2F2;
  position: relative;
}
#sales-nav-pane {
  margin-right: 10px;
  width: 150px;
}
#sales-nav-pane > div:first-child {
  padding: 15px 0px;
}
#sales-nav-pane > div:first-child > a:hover *  {
  background: rgba(18, 187, 173, .3);
  color: white;
}

#sales-nav-pane select {
  width: 100%;
}

#sales-main-pane #header {
  background: #ECEFF0;
}
#sales-main-pane .products-col {
  width: var(--sales-products-col-width);
}
#sales-main-pane .price-col {
  width: var(--sales-price-col-width);
}
#sales-main-pane .quantity-col {
  width: var(--sales-quantity-col-width);
}
#sales-main-pane .sales-col {
  width: var(--sales-sales-col-width);
}

#sales-main-pane .product-div {
  padding: 15px 15px 0px;
}
#sales-main-pane .product-div:last-of-type {
  padding-bottom: 15px;
}

#sales-main-pane .product-div img {
  position: absolute;
}
#sales-main-pane .product-div {
  min-height: 115px;
}
#sales-main-pane .price {
  display: none;
}

#sales-main-pane .product-div > .prod-row > div:first-child {
  padding-left: 110px;
  width: var(--sales-products-col-width);
}
#sales-main-pane .product-div > .prod-row > div:nth-child(2) {
  width: var(--sales-price-col-width);
}
#sales-main-pane .product-div > .prod-row > div:nth-child(3) {
  width: var(--sales-quantity-col-width);
}
#sales-main-pane .product-div > .prod-row > div:nth-child(4) {
  width: var(--sales-sales-col-width);
}

/*Responsive Sizes------------------------------------------------------------*/

@media (max-width: 991px) {
  #sidebar>.row>.col:first-of-type {
    display: none;
  }
  #main-content {
    margin-top: 0px;
  }
  #topbar {
    display: block;
  }
  .navbar {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
  }
  .navbar-brand img {
    position: absolute;
    top: 8px;
  }
  .navbar-brand b {
    position: absolute;
    top: 11px;
    margin-left: 42px;
  }
  #nav-setting-dropdown {
    position: static !important;
  }
}
@media (min-width: 992px) {
  #sidebar>.row>.col:first-of-type {
    display: block !important;
  }
  #main-content {
    margin-top: 0px !important;
  }
  #topbar {
    visibility: hidden !important;
  }
  .navbar {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .navbar-brand img {
    position: absolute;
    top: 9px;
  }
  .navbar-brand b {
    position: absolute;
    top: 12px;
    margin-left: 42px;
  }
  #navbar2SupportedContent {
    padding-top: 10px !important;
    height: 55px;
  }
  #nav-setting-dropdown {
    position: absolute;
    top: 47.6;
    border-radius: 0px;
    border-top: none;
  }
}

@media (min-width: 1200px) {
  .search>input {
    width: 435px !important;
    margin-left: 0px !important;
  }
}
@media (max-width: 1199px) {
  .search>input {
    width: 15.5rem !important;
    margin-left: 0px !important;
  }

  #store-main #products-div {
    display: block;
  }
  #store-main #filters-div {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: none;
  }
  div.search {
    margin: auto;
  }
  .search>input {
    width: 300px !important;
  }

  #item-main-pane {
    width: 100%;
  }
  #item-review-pane {
    width: 100%;
    padding-left: 0px;
  }
  #item-review-pane > div {
    min-height: auto;
  }

  #summary-main-pane {
    width: 100%;
  }
  #summary-details-pane {
    padding-left: 0px;
    width: 100%;
    position: relative;
  }
  #summary-details-pane > div:nth-child(1) {
    width: 49%;
    float: left;
  }
  #summary-details-pane > div:nth-child(2) {
    width: 49%;
    float: right;
  }
}
@media (max-width: 768px) {
  div.search {
    margin: auto;
  }
  .search>input {
    width: 300px !important;
  }

  #store-sidebar {
    display: none;
  }
  #store-main > div:first-child #filters-link {
    display: inline-block;
    margin-right: 1px;
  }
  #store-main > div:first-child #filters-link + small {
    display: none;
  }

  #item-main-pane #main-desc > div {
    height: 190;
  }
  #item-main-pane #options-container {
    display: none;
  }
  #item-main-pane #main-desc #cart-modal-btn{
    display: block;
  }

  #summary-details-pane > div:first-child {
    width: 100%;
  }
  #summary-details-pane > div:nth-child(2) {
    width: 100%;
    position: relative;
  }
  #summary-main-pane > div:nth-child(2) a {
    float: none;
  }
  #summary-main-pane > div:nth-child(2) svg#SVG_refreshList {
    float: none;
    display: block
  }
  #summary-main-pane #header {
    display: none;
  }
  #summary-main-pane .product-div {
    padding: 15px;
  }
  #summary-main-pane .product-div > div:nth-child(1) {
    width: calc(100% - 54.4px);
  }
  #summary-main-pane .product-div .img-link + div p:nth-of-type(2){
    margin-bottom: 5px;
  }
  #summary-main-pane .product-div > div:nth-child(1) .price{
    display: block;
  }
  #summary-main-pane .product-div .img-link + div i.fa {
    display: none;
  }

  #summary-main-pane .product-div > div:nth-child(2) {
    display: none;
  }
  #summary-main-pane .product-div > div:nth-child(3) {
    width: 50px;
  }
  #summary-main-pane .product-div > div:nth-child(3) p::before{
    content: 'Qty: ';
    color: #A8B0B7;
  }
  #summary-main-pane .product-div > div:nth-child(3) i.fa {
    display: block;
  }

  .alert.cartAlert p:nth-of-type(1){
    display: block !important;
  }
  .alert.cartAlert p:nth-of-type(2){
    display: none !important;
  }

  #sales-main-pane > div:nth-child(3) {
    padding-top: 0px;
  }
  #sales-main-pane #header {
    display: none;
  }
  #sales-main-pane .product-div > .prod-row.sizes {
    display: none;
  }
  #sales-main-pane .product-div > .prod-row > div {
    display: none;
  }
  #sales-main-pane .product-div > .prod-row > div:first-child {
    display: block;
    width: 100%;
  }
  #sales-main-pane .product-sales-details {
    display: block;
  }

}
@media (max-width: 576px) {
  .search>input {
    margin-left: 0px !important;
  }

  .banner {
    margin-top: 32px;
    padding: 0px;
  }
  .banner > .container {
    padding: 0px;
  }
  #banner-carousel {
    height: 200px;
  }
  .banner-img {
    width: 100%;
    height: 100%;
  }

  .inner {
    width: auto !important;
  }

  #item-main-pane > div:nth-child(2) img {
    position: relative;
    width: 100%;
    height: 380;
    padding: 0px 60px;
  }
  #item-main-pane #main-desc {
    margin-left: 0px;
    padding: 0px;
    margin-top: 10px;
    min-height: auto;
  }
  #item-main-pane .fa-share-alt {
    position: absolute;
    top: 4;
    right: 0;
  }
  #item-main-pane #main-desc #cart-modal-btn{
    width: 100%;
  }

  #sales-nav-pane {
    width: 100%;
    margin: 0px;
  }
  #sales-nav-pane > div:first-child {
    width: 49%;
    float: left;
  }
  #sales-nav-pane > div:nth-child(2) {
    width: 49%;
    float: right;
  }

  #package-modal .modal-dialog {
    width: 295px;
    left: 48%;
    transform: translate(-50%);
  }
  #package-modal .price-pane-small {
    display: block;
  }
  #package-modal .price-pane {
    display: none;
  }

  #orderSuccess-container .links-div {
    display: block;
  }
  #orderSuccess-container > div:first-child > a:first-of-type {
    display: none;
  }
  #orderSuccess-container > div:first-child > a:nth-of-type(2){
    display: none;
  }

  .steps-form .step span{
    display: none;
  }
  .steps-form .step{
    font-size: 1.2em;
    padding: 8px;
  }

}
@media (max-width: 450px) {
  .search>input {
    width: auto !important;
    margin-left: 0px !important;
  }

  .feature-title {
    float: none;
  }
  .store-link {
    float: none;
    display: block
  }

  #store-main .sort{
    position: static;
  }
  #store-main > div:first-child #filters-link {
    display: block;
  }

  #item-main-pane > div:nth-child(2) img {
    width: 100%;
    height: 380;
    padding: 0px;
  }
  #summary-main-pane > div:nth-child(2) a {
    display: block;
  }

  #sidebar #main-content #order-filter {
    position: static;
    padding-bottom: 5px;
  }
  #sidebar #main-content #title {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 2px;
  }

}

/* Store Grid */
@media (min-width: 1200px) {
  #store-main > div:nth-child(2) {
    padding-left: 23px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 1199px) {
  #store-main > div:nth-child(2) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 975px) {
  #store-main > div:nth-child(2) {
    text-align: center;
  }
}

svg#SVG_loadList{
  width: 25px;
  height: 30px;
  margin-top: 2px;
  margin-left: 5px;
}
svg#SVG_loadList > rect{
  fill: var(--primary-color);
}

svg#SVG_refreshList{
  width: 40px;
  height: 21px;
  display:inline-block;
}
svg#SVG_refreshList > circle{
  fill: var(--primary-color);
}

svg#SVG_refreshCart{
  width: 25px;
  height: 30px;
  display:inline-block;
}
svg#SVG_refreshCart > rect{
  fill: #fff;
}
