<%- include('../../../templates/sidebar.ejs') -%>

<style>
  #sidebar>.row>.col:first-of-type>a:nth-of-type(4)>h5 {
    border-left: 4px solid #12BBAD;
  }
</style>

<!-- main content title -->
<h4 class="lead pl-1 pb-2"><b>My Cancellations</b></h4>
<!-- main content -->
<div class="tab">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Order</th>
        <th scope="col">Date Cancelled</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><a href="/summary/order">Order#0003088</a></th>
        <td>Feb 11, 2018</td>
        <td>P 180</td>
      </tr>
      <tr>
        <th scope="row"><a href="/summary/order">Order#0003001</a></th>
        <td>Feb 9, 2018</td>
        <td>P 350</td>
      </tr>
      <tr>
        <th scope="row"><a href="/summary/order">Order#0002432</a></th>
        <td>Jan 30, 2018</td>
        <td>P 200</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- pagination -->
<div class="row">
  <div class="col"> </div>
  <div class="col pt-3">
    <ul class="pagination">
      <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">6</a></li>
      <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
    </ul>
  </div>
  <div class="col"> </div>
</div>

<%- include('../../../templates/sidebar-closer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
