<%- include('../../../templates/navbar.ejs') -%>

<div id="content" class="container">
  <div class="row">
    <div class="col">
      <div id="inner-content">
        <div style="text-align:center;">
          <h4 class="lead pl-1 pb-2"><b>Frequently Asked Questions </b></h4>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card mb-2">
              <div class="card-header"><b> How do I place my order? </b></div>
              <div class="card-body">
                <div class="row px-3">Place order by adding items to the Cart and Proceed to Checkout.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card mb-2">
              <div class="card-header"><b> When will I receive my order? </b></div>
              <div class="card-body">
                <div class="row px-3">When delivery process is done.</div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card mb-2">
              <div class="card-header"><b> How do I contact Customer Service? </b></div>
              <div class="card-body">
                <div class="row px-3">Monday to Friday at 8:00 AM to 9:00 PM.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../../templates/footer.ejs') -%>
<%- include('../../../templates/scripts.ejs') -%>
