<%- include('../../../templates/admin-navbar.ejs') -%>


 <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>

        <small>Note: Indicate the type of supplier</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Maintenance</a></li>
        <li class="active">Suppliers</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Supplier Information Form</h3>
			</div>

			<!-- purchase order body -->
			<div class="box-body">


				</div>
				<div class="row">
					<form class="form-horizontal" id="supplierForm">
						<div class="form-group">

							<label for="FName" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-2">
								<input type="text" required class="input-sm form-control" name="fname" id="FName" placeholder="First Name">
							</div>


							<div class="col-sm-2">
								<input type="text" class="input-sm form-control" id="MName" name="mname" placeholder="Middle Name">
							</div>


							<div class="col-sm-2">
								<input type="text" required class="input-sm form-control" id="LName" name="lname" placeholder="Last Name">
							</div>
						</div>

						<div class="form-group">
							<label for="BName" class="col-sm-2 control-label">Business Name</label>
							<div class="col-sm-4">
								<input type="text" required class="input-sm form-control" id="BName" name="bname" placeholder="">
							</div>
						</div>

						<div class="form-group">
							<label for="address" class="col-sm-2 control-label">Business Address</label>
							<div class="col-sm-4">
								<input type="text" required class="input-sm form-control" name="address" id="address" placeholder="">
							</div>
						</div>

            <div class="form-group">
							<label for="email" class="col-sm-2 control-label">Business Email</label>
							<div class="col-sm-4">
								<input type="email" class="input-sm form-control" id="email" name="email" placeholder="">
							</div>
						</div>

            <div class="form-group">
							<label for="brands" class="col-sm-2 control-label">Brands</label>
							<div class="col-sm-4">
								<input type="text" required class="input-sm form-control" name="brands" id="brands" placeholder="Separate with commas">
							</div>
						</div>

            <div class="form-group">
							<label for="phone" class="col-sm-2 control-label">Contact numbers</label>
							<div class="col-sm-2">
								<input type="text" class="input-sm form-control" name="phone" id="phone" placeholder="Phone">
							</div>


							<div class="col-sm-2">
								<input type="text" class="input-sm form-control" name="mobile" id="mobile" placeholder="Mobile">
							</div>
						</div>

            <div class="form-group">
							<label for="tin" class="col-sm-2 control-label">Business TIN</label>
							<div class="col-sm-4">
								<input type="text" class="input-sm form-control" name="tin" id="tin" placeholder="">
							</div>
						</div>

            <div class="form-group">
              <label for="invoice" class="col-sm-2 control-label">Invoice Available?</label>
              <div class="col-sm-4">
                <label>
                  <input type="radio" id="invoice" value="1" name="inv" class="flat-red" checked>
                  Yes
                </label>

                <label>
                  <input type="radio" name="inv" value="0" class="flat-red">
                  No
                </label>
              </div>
            </div>

            <div class="form-group">
							<label for="" class="col-sm-2 control-label">Supplier Type</label>
							<div class="col-sm-4">
                <select id="type" name="supptype" class="input-sm form-control">

                  <option  value="2">Outright</option>
                  <option value="1">Consignor</option>
                </select>


							</div>
              <div class="col-sm-4">
                <button id="addContract_btn" data-toggle="modal" data-target="#contract_modal" class="large ui green basic button">Add Contract</button>
              </div>
						</div>



            <div class="form-group">
							<label for="" class="col-sm-2 control-label">Business Type</label>
							<div class="col-sm-4">
                <select id="businesstype" name="busstype" class="input-sm form-control">
                  <% if (businesstype == null || businesstype == undefined){ %>

                  <% }else if (businesstype.length == 0){ %>

                  <% }else{ %>
                  <%  businesstype.forEach(function(i){ %>
                      <option value="<%=i.intBusinessTypeNo%>"><%= i.strBusinessType%></option>
                  <%  }) %>
                  <% } %>
                </select>
							</div>
						</div>
				</div>

        <div class="box-footer">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
          <a href="/maintenance/supplier"><button type="button" class="big ui button">Back</button></a>
          <button type="submit" class="big ui teal  button">Submit</button>
        </div>
                <!-- /.box-footer -->
      </form>
			</div>


		</div>

	</section>

</div>

  <!-- /.content-wrapper -->

  <div class="modal fade" id="contract_modal">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Contract</h4>
      </div>
      <div class="modal-body">

        <div class="ui big form">
          <div class="two fields">
            <div class="field">
              <label>Application Date</label>
              <input type="date">
            </div>
          </div>
        </div>
        <div class="ui big form">
          <div class="two fields">
            <div class="field">
              <label>Start Date</label>
              <input type="date">
            </div>
            <div class="field">
              <label>End Date</label>
              <input type="date">
            </div>
          </div>
        </div>
        <div class="ui big form">
          <div class="field">
            <label>Best time and day to reach</label>
            <input type="text">
          </div>
        </div>

        <!-- End of body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="big ui button" data-dismiss="modal">Close</button>
        <button type="submit" class="big ui teal button">Save</button>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>




  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>

<!-- page script (new added) -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
	  'select'		: true,
	  'scroll'		: true
    })
  })

</script>

<script>
$(document).ready(function(){

    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    $('#response').hide();



})
</script>

<script>
  $('#supplierForm').submit(function(e){
    e.preventDefault();

    $.ajax({
      url: '/maintenance/addSupplier',
      method: 'post',
      data: $('#supplierForm').serialize(),
      success: function(response,status,http){
        if(response){
          swal("Success!","You've added a supplier","success");
        }
      }
    })
  })
</script>


<script>
$('#addContract_btn').show();
$('#type').on('change',function(){
  if($(this).val() == 1){$('#addContract_btn').show()}else {$('#addContract_btn').hide()}
});
</script>


<script>
$('#title').html("USG | Suppliers");
$(".treeview a:contains('Maintenance')").parent().addClass("active");
$(".navi a:contains('Suppliers')").parent().addClass("active");
</script>


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>
