<%- include('../../../templates/consignor-dashboard.ejs') -%>

<div id="consigner" class="container">
    <div class="row">
        <div class="col">
            <div id="main-content">
                <div class="col-lg-12">
                    <div class="card-title">

                    </div>
                    <ul class="nav nav-tabs" id="myNavTabs">
                            <li class="nav-item nav-link active"><a href="#navtabs1" data-toggle="tab">Received</a>

                          </ul>

                          <!-- using fade to define fade effect -->
                          <!-- using active class to define the first actived tab and content -->

                          <div class="tab-content">
                            <div class="tab-pane fade-in active" id="navtabs1">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                      <th> No</th>
                                                      <th>Purchase Order</th>
                                                      <th>Staff</th>
                                                      <th>Date Received</th>
                                                      <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                <% if (received == null || received == undefined){ %>

                                                    <% }else if (received.length == 0){ %>

                                                    <% }else{ %>
                                                        <%  received.forEach(function(i){ %>
                                                            <tr>
                                                              <td><%= i.intReceiveOrderNo%></td>
                                                                <td><%= i.intPurchaseOrderNo%></td>
                                                                <td>Gustle Agulto (USG Operations Manager)</td>
                                                                <td><span><%= moment(i.dateOrdered).format("MM/DD/YYYY")%></span></td>
                                                                <td style="width:170px;"><div class="btn-group">
                                                                    <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">View</button>
                                                                </div></td>
                                                            </tr>
                                                            <%  }) %>
                                                            <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>

                          </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script src="/assets/consignor/jquery-slim.js"></script>
<script src="/assets/consignor/popper.min.js"></script>
<script src="/assets/consignor/bootstrap.min.js"></script>
<script src="/assets/consignor/simplebar.js"></script>

<script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>

<script src="/assets/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<script>
$('#myNavTabs a').click(function (evt) {
  evt.preventDefault();
  $(this).tab('show');
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
  //new tab
  console.log(e.target);

  //previous tab
  console.log(e.relatedTarget);
})
</script>
</body>

</html>
