<%- include('../../../templates/consignor-dashboard.ejs') -%>

<div id="consigner" class="container">
    <div class="row">
        <div class="col">
            <div id="main-content">
                <div class="col-lg-12">
                    <div class="card-title">
                        <h4>All Orders</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>&nbsp</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <div class="round-img">
                                                <a href=""><img src="/assets/images/static2/imgs1.jpg"></a>
                                            </div>
                                        </td>
                                        <td>Keto Loaf</td>
                                        <td><span>456 pcs</span></td>
                                        <td><span>03-19-18</span></td>
                                        <td style="width:170px;"><div class="btn-group">
                                            <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">Accept</button>
                                            <button type="button" class="btn btn-danger" style="margin-bottom:10px; border-radius:5px !important;">Reject</button>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="round-img">
                                                <a href=""><img src="/assets/images/static2/img4.jpg" alt=""></a>
                                            </div>
                                        </td>
                                        <td>Kala Milk Soap</td>
                                        <td><span>248 pcs</span></td>
                                        <td><span>03-18-18</span></td>
                                        <td style="width:170px;"><div class="btn-group">
                                            <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">Accept</button>
                                            <button type="button" class="btn btn-danger" style="margin-bottom:10px; border-radius:5px !important;">Reject</button>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="round-img">
                                                <a href=""><img src="/assets/images/static2/img5.jpg" alt=""></a>
                                            </div>
                                        </td>
                                        <td>Dugos Wild Forest Honey</td>
                                        <td><span>300 pcs</span></td>
                                        <td><span>03-10-18</span></td>
                                        <td style="width:170px;"><div class="btn-group">
                                            <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">Accept</button>
                                            <button type="button" class="btn btn-danger" style="margin-bottom:10px; border-radius:5px !important;">Reject</button>
                                        </div></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="round-img">
                                                <a href=""><img src="/assets/images/static2/imgs2.jpg" alt=""></a>
                                            </div>
                                        </td>
                                        <td>Coco Keto MCT Oil</td>
                                        <td><span>389 pcs</span></td>
                                        <td><span>03-09-18</span></td>
                                        <td style="width:170px;"><div class="btn-group">
                                            <button type="button" class="btn btn-primary" style="margin-bottom:10px; margin-right:10px; border-radius:5px !important">Accept</button>
                                            <button type="button" class="btn btn-danger" style="margin-bottom:10px; border-radius:5px !important;">Reject</button>
                                        </div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col"> </div>
                            <div class="col">
                            <ul class="pagination" style="margin-left: 40px;">
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#">6</a>
                                </li>
                                <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span> <span class="sr-only">Next</span> </a>
                                </li>
                            </ul>
                            </div>
                            <div class="col"> </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>