/* Quantity */

.quantity {
  width: 75px;
  height: 20px;
}
.addon {
  height: 100%;
}
.quantity-buttons {
  width: 19px;
  border-radius: 0px;
  background: #12BBAD;
  border: #12BBAD;
  height: 100%;
  padding: 0px;
  position: relative;
}
.quantity-buttons:hover {
  background: #0F988D;
}
.quantity-buttons:focus {
  box-shadow: 0 0 0 0rem rgba(18, 187, 173, .4);
  background: #0F988D;
}
.quantity-buttons:active {
  background: #0F988D !important;
  box-shadow: 0 0 0 0.1rem rgba(18, 187, 173, .4) !important;
}
.quantity-text {
  position: absolute;
  top: .8px;
}
.quantity-text-minus {
  left: 7.4px;
}
.quantity-text-plus {
  left: 5.6px;
}

.quantity-input {
  padding: 5px;
  text-align: center;
  border: 1px solid #12BBAD;
  background: white !important;
}
.quantity-input:focus {
  box-shadow: 0 0 0 0rem rgba(18, 187, 173, .4);
  border: 1px solid #12BBAD;
}
