<%- include('../../../templates/admin-navbar.ejs') -%>

<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       Dashboard
       <small></small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
       <li class="active">Dashboard</li>
     </ol>
   </section>

   <!-- Main content -->
   <section  class="content container-fluid">

     <!--------------------------
       | Your Page Content Here |
       -------------------------->

      <div id="l"></div>

     <!-- Small boxes (Stat box) -->
     <div id="yourElement" class="row">
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-aqua">
           <div class="inner">
             <h3><%= re1%></h3>

             <p>New Orders</p>
           </div>
           <div class="icon">
             <i class="fa fa-shopping-cart"></i>
           </div>
           <a href="/customerOrder/checkNewOrders" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a> 
         </div>
       </div>

       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-yellow">
           <div class="inner">
             <h3><%= re2%></h3>

             <p>Customer Registrations</p>
           </div>
           <div class="icon">
             <i class="ion ion-person-add"></i>
           </div>
           <a href="/maintenance/customer" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>
       <!-- ./col -->
       <div class="col-lg-3 col-xs-6">
         <!-- small box -->
         <div class="small-box bg-red">
           <div class="inner">
             <h3><%= re3%></h3>

             <p>Products to Expire Within 7 Days</p>
           </div>
           <div class="icon">
             <i class="ion ion-pie-graph"></i>
           </div>
           <a href="#" class="small-box-footer">
             More info <i class="fa fa-arrow-circle-right"></i>
           </a>
         </div>
       </div>
       <!-- ./col -->
     </div>
     <!-- /.row -->

     <div class="row">
       <div class="col-sm-8">
         <!-- BAR CHART -->
         <div class="box box-success">
           <div class="box-header with-border">
             <h3 class="box-title">2018 sales</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>

             </div>
           </div>
           <div class="box-body">
             <div class="chart">
               <canvas id="barChart" style="height:320px"></canvas>
             </div>
           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->
       </div>

       <div class="col-sm-4">
         <!-- PRODUCT LIST -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Recently Added Products</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <ul class="products-list product-list-in-box">
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/1000.jpg" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title">Keto Leaf
                     <span class="label label-warning pull-right">$1800</span></a>
                   <span class="product-description">
                         Samsung 32" 1080p 60Hz LED Smart HDTV.
                       </span>
                 </div>
               </li>
               <!-- /.item -->
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/1001.jpg" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title">Gourmet Farms Coffee
                     <span class="label label-info pull-right">$700</span></a>
                   <span class="product-description">
                         26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                       </span>
                 </div>
               </li>
               <!-- /.item -->
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/1002.jpg" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title">Picole Strawberry <span
                       class="label label-danger pull-right">$350</span></a>
                   <span class="product-description">
                         Xbox One Console Bundle with Halo Master Chief Collection.
                       </span>
                 </div>
               </li>
               <!-- /.item -->
               <li class="item">
                 <div class="product-img">
                   <img src="/assets/images/products/1003.jpg" alt="Product Image">
                 </div>
                 <div class="product-info">
                   <a href="javascript:void(0)" class="product-title">Organic Soap
                     <span class="label label-success pull-right">$399</span></a>
                   <span class="product-description">
                         PlayStation 4 500GB Console (PS4)
                       </span>
                 </div>
               </li>
               <!-- /.item -->
             </ul>
           </div>
           <!-- /.box-body -->
           <div class="box-footer text-center">
             <a href="javascript:void(0)" class="uppercase">View All Products</a>
           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>

     </div>
     <!-- End of row  -->
     <div class="row">
       <div class="col-sm-8">
         <!-- TABLE: LATEST ORDERS -->
         <div class="box box-info">
           <div class="box-header with-border">
             <h3 class="box-title">Latest Orders</h3>

             <div class="box-tools pull-right">
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div>
           </div>
           <!-- /.box-header -->
           <div class="box-body">
             <div class="table-responsive">
               <table class="table no-margin">
                 <thead>
                 <tr>
                   <th>Order ID</th>
                   <th>Item</th>
                   <th>Status</th>
                   <th>Popularity</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR9842</a></td>
                   <td>Call of Duty IV</td>
                   <td><span class="label label-success">Shipped</span></td>
                   <td>
                     <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR1848</a></td>
                   <td>Samsung Smart TV</td>
                   <td><span class="label label-warning">Pending</span></td>
                   <td>
                     <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR7429</a></td>
                   <td>iPhone 6 Plus</td>
                   <td><span class="label label-danger">Delivered</span></td>
                   <td>
                     <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR7429</a></td>
                   <td>Samsung Smart TV</td>
                   <td><span class="label label-info">Processing</span></td>
                   <td>
                     <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR1848</a></td>
                   <td>Samsung Smart TV</td>
                   <td><span class="label label-warning">Pending</span></td>
                   <td>
                     <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR7429</a></td>
                   <td>iPhone 6 Plus</td>
                   <td><span class="label label-danger">Delivered</span></td>
                   <td>
                     <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                   </td>
                 </tr>
                 <tr>
                   <td><a href="pages/examples/invoice.html">OR9842</a></td>
                   <td>Call of Duty IV</td>
                   <td><span class="label label-success">Shipped</span></td>
                   <td>
                     <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                   </td>
                 </tr>
                 </tbody>
               </table>
             </div>
             <!-- /.table-responsive -->
           </div>
           <!-- /.box-body -->
           <div class="box-footer clearfix">
             <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
             <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
           </div>
           <!-- /.box-footer -->
         </div>
         <!-- /.box -->
       </div>
     </div>


     <!-- =========================================================== -->

   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->

 <!-- Main Footer -->
 <footer class="main-footer">
   <!-- To the right -->
   <div class="pull-right hidden-xs">
     Ultra Super Green
   </div>
   <!-- Default to the left -->
   <strong>Copyright &copy; 2016 <a href="#">AdminLTE template</a>.</strong> All rights reserved.
 </footer>

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
   <!-- Create the tabs -->
   <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
     <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
     <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
   </ul>
   <!-- Tab panes -->
   <div class="tab-content">
     <!-- Home tab content -->
     <div class="tab-pane active" id="control-sidebar-home-tab">
       <h3 class="control-sidebar-heading">Recent Activity</h3>
       <ul class="control-sidebar-menu">
         <li>
           <a href="javascript:;">
             <i class="menu-icon fa fa-birthday-cake bg-red"></i>

             <div class="menu-info">
               <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

               <p>Will be 23 on April 24th</p>
             </div>
           </a>
         </li>
       </ul>
       <!-- /.control-sidebar-menu -->

       <h3 class="control-sidebar-heading">Tasks Progress</h3>
       <ul class="control-sidebar-menu">
         <li>
           <a href="javascript:;">
             <h4 class="control-sidebar-subheading">
               Custom Template Design
               <span class="pull-right-container">
                   <span class="label label-danger pull-right">70%</span>
                 </span>
             </h4>

             <div class="progress progress-xxs">
               <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
             </div>
           </a>
         </li>
       </ul>
       <!-- /.control-sidebar-menu -->

     </div>
     <!-- /.tab-pane -->
     <!-- Stats tab content -->
     <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
     <!-- /.tab-pane -->
     <!-- Settings tab content -->
     <div class="tab-pane" id="control-sidebar-settings-tab">
       <form method="post">
         <h3 class="control-sidebar-heading">General Settings</h3>

         <div class="form-group">
           <label class="control-sidebar-subheading">
             Report panel usage
             <input type="checkbox" class="pull-right" checked>
           </label>

           <p>
             Some information about this general settings option
           </p>
         </div>
         <!-- /.form-group -->
       </form>
     </div>
     <!-- /.tab-pane -->
   </div>
 </aside>
 <!-- /.control-sidebar -->
 <!-- Add the sidebar's background. This div must be placed
 immediately after the control sidebar -->
 <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/assets/admin/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/assets/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/assets/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/assets/admin/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/assets/admin/dist/js/adminlte.min.js"></script>
<!-- Notification  -->
<script src="/assets/admin/notification.js"></script>
<!-- ChartJS -->
<script src="/assets/admin/bower_components/chart.js/Chart.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/assets/admin/dist/js/demo.js"></script>


<script>
$('#title').html("USG | Dashboard");
$(".navi a:contains('Dashboard')").parent().addClass("active");
</script>

<script>
$('#yourElement').animateCss('bounce');
</script>

<script>
$(function () {
  /* ChartJS
   * -------
   * Here we will create a few charts using ChartJS
   */

  //--------------
  //- AREA CHART -
  //--------------



  var areaChartData = {
    labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
    datasets: [
      {
        label               : 'Electronics',
        fillColor           : 'rgba(210, 214, 222, 1)',
        strokeColor         : 'rgba(210, 214, 222, 1)',
        pointColor          : 'rgba(210, 214, 222, 1)',
        pointStrokeColor    : '#c1c7d1',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data                : [65, 59, 80, 81, 56, 55, 40]
      },
      {
        label               : 'Digital Goods',
        fillColor           : 'rgba(60,141,188,0.9)',
        strokeColor         : 'rgba(60,141,188,0.8)',
        pointColor          : '#3b8bba',
        pointStrokeColor    : 'rgba(60,141,188,1)',
        pointHighlightFill  : '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data                : [28, 48, 40, 19, 86, 27, 90]
      }
    ]
  }





  //-------------
  //- BAR CHART -
  //-------------
  var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
  var barChart                         = new Chart(barChartCanvas)
  var barChartData                     = areaChartData
  barChartData.datasets[1].fillColor   = '#00a65a'
  barChartData.datasets[1].strokeColor = '#00a65a'
  barChartData.datasets[1].pointColor  = '#00a65a'
  var barChartOptions                  = {
    //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
    scaleBeginAtZero        : true,
    //Boolean - Whether grid lines are shown across the chart
    scaleShowGridLines      : true,
    //String - Colour of the grid lines
    scaleGridLineColor      : 'rgba(0,0,0,.05)',
    //Number - Width of the grid lines
    scaleGridLineWidth      : 1,
    //Boolean - Whether to show horizontal lines (except X axis)
    scaleShowHorizontalLines: true,
    //Boolean - Whether to show vertical lines (except Y axis)
    scaleShowVerticalLines  : true,
    //Boolean - If there is a stroke on each bar
    barShowStroke           : true,
    //Number - Pixel width of the bar stroke
    barStrokeWidth          : 2,
    //Number - Spacing between each of the X value sets
    barValueSpacing         : 5,
    //Number - Spacing between data sets within X values
    barDatasetSpacing       : 1,
    //String - A legend template
    legendTemplate          : '',
    //Boolean - whether to make the chart responsive
    responsive              : true,
    maintainAspectRatio     : true
  }

  barChartOptions.datasetFill = false
  barChart.Bar(barChartData, barChartOptions)
})
</script>

<script>
function run(){
  $('#l').load('/dashboard/load');
}
var my = setTimeout(run, 0000)

  clearTimeout(my)

</script>



<!-- Optionally, you can add Slimscroll and FastClick plugins.
    Both of these plugins are recommended to enhance the
    user experience. -->
</body>
</html>
