<%- include('../../../templates/master.ejs') -%>

<link rel="stylesheet" href="/assets/custom/voucher.css" type="text/css" />

<div id="page-wrap">
  <div id="section-to-print"><br/>
    <div align="center">
      <h1 class="title">Ultra Super Green Trading Corporation</h1>
    </div> <br/>
    <div>
      <table id="inv">
        <tr>
          <td class="meta-head">Invoice #</td>
          <td>000946588</td>
        </tr>
        <tr>
          <td class="meta-head">Payment Due</td>
          <td>April 10, 2018</td>
        </tr>
      </table>
      <div id="date">
        <p>April 4, 2018</p>
      </div>
    </div>
    <div id="lower">
      <div id="cashier"><b>Cashier/Representative:</b><br/> Address<br/> Phone : 799-0725<br/> Mobile : 09236835707<br/> E-mail : superscoops@mail.com</div>
      <div id="customer"><b>Customer Details:</b><br/> Account No. : 0005722<br/> Name : John Doe<br/> E-mail : johndoe@mail.com<br/> Contact : 09237433499</div>
      <div id="address"><b>Address :</b><br/> Street : 0005722<br/> Barangay : John Doe<br/> City : johndoe@mail.com<br/> Zip Code:</div>
      <table id="items">
        <tr>
          <th class="align-left">Product</th>
          <th style="width: 80px" class="align-left">Price</th>
          <th style="width: 50px" class="align-left">Quantity</th>
          <th style="width: 80px" class="align-left">Total Price</th>
        </tr>
        <tr class="item-row">
          <td class="description">
            <text>Shahani&apos;s Gatas Kalabaw</text>
          </td>
          <td>
            <text>Php 230</text>
          </td>
          <td>
            <text>1</text>
          </td>
          <td>
            <text>Php 230</text>
          </td>
        </tr>
        <tr class="item-row">
          <td>
            <text>Keto Loaf &amp; Rolls</text>
          </td>
          <td>
            <text>Php 75</text>
          </td>
          <td>
            <text>2</text>
          </td>
          <td>
            <text>Php 150</text>
          </td>
        </tr>
        <tr class="item-row">
          <td>
            <text>Raw Cordyceps</text>
          </td>
          <td>
            <text>Php 105</text>
          </td>
          <td>
            <text>4</text>
          </td>
          <td>
            <text>Php 420</text> <br/><br/>
          </td>
        </tr>
      </table>
      <div class="row mt-3 mr-0">
        <div class="col"></div>
        <div style="border: 1px solid black;" class="col-4 py-2">
          <div class="row">
            <div class="col-6">
              <p class="mb-1"><b>Sub-total:</b></p>
              <p class="mb-1"><b>VAT:</b></p>
              <p class="mb-1"><b>Shipping fee:</b></p>
            </div>
            <div style="padding-left: 20px;" class="col-6">
              <p class="mb-1">Php 800.00</p>
              <p class="mb-1">Php &nbsp&nbsp66.66</p>
              <p class="mb-1">Php &nbsp&nbsp40.00</p>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <p class="text-danger"><b>Total:</b></p>
            </div>
            <div style="padding-left: 20px;" class="col-6">
              <p class="mb-1">Php 906.66</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div id="terms">
        <h5></h5>
        <text>Ultra Super Green</text>
      </div>
      <p>&nbsp</p>
      <h1 class="subtitle">--------------------------------------------------</h1>
      <p><sup></sup>Cut Here</p> <br/>
    </div>
  </div>
</div>

<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
