<%- include('../../../templates/admin-navbar.ejs') -%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Sales Report
      <small></small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"></i> Home</a></li>
      <li><a href="#"></i> Reports</a></li>
      <li class="active">Sales</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Monthly recap -->
    <div class="row">

      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Sales Overview 2018</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">
                  <strong>Sales: 1 Jan, 2018 - 31 Dec, 2018</strong>
                </p>

                <canvas id="recapChart" width="400" height="100"></canvas>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <div class="row">
              <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header">Php 35,210.43</h5>
                  <span class="description-text">TOTAL REVENUE</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header">Php 10,390.90</h5>
                  <span class="description-text">TOTAL COMMISSION</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 col-xs-6">
                <div class="description-block border-right">

                  <h5 class="description-header">Php 24,813.53</h5>
                  <span class="description-text">TOTAL PAYMENTS</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <!-- <div class="col-sm-3 col-xs-6">
                <div class="description-block">
                  <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                  <h5 class="description-header">1200</h5>
                  <span class="description-text">GOAL COMPLETIONS</span>
                </div>

              </div> -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
        </div>
      </div>



    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Monthly Sales Report</h3>
          </div>

          <div class="box-body">
            <br>
            <div class="row">
              <!-- <div class="col-sm-4">
                <label>Sort by:</label>
              </div> -->

              <div class="col-sm-3">
                <select class="form-control">
                  <option>October</option>
                </select>
              </div>
              <div class="col-sm-3">
                <select class="form-control">
                  <option>2018</option>
                </select>
              </div>

              <div class="col-sm-5">
                <button class="large ui teal button">Apply Changes</button>

                <button class="large ui  button">Print</button>
                <button class="large ui  button">Excel</button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-12">

                <div class="table-responsive">
                  <table class="table no-margin">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Total Revenue</th>
                        <th style="width: 20%">Products Sold</th>
                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>10/06/2018</td>
                        <td>Php 1,000</td>
                        <td>100</td>
                        <td><button class="large ui green button">Review</button></td>
                      </tr>
                      <tr>
                        <td>10/20/2018</td>
                        <td>Php 500</td>
                        <td>2</td>
                        <td><button class="large ui green button">Review</button></td>
                      </tr>


                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
            <!-- <div class="box-footer clearfix">

              <a href="javascript:void(0)" class="large ui teal button pull-right">View All</a>
            </div> -->
        </div>
      </div>
    </div>


    <div class="row">
      <!-- Daily Sales Report -->
      <div class="col-sm-8">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Daily Sales Report</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-sm-4">
                <input type="date" class="form-control">
              </div>
              <div class="col-sm-3">
                <button class="large ui teal button">Apply changes</button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table no-margin">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Product Name</th>
                        <th style="width: 20%">Quantity Bought</th>
                        <th>Sales</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
          <div class="box-footer clearfix">

            <a href="javascript:void(0)" class="large ui teal button pull-right">View All</a>
          </div>
        </div>

      </div>

      <!-- Discounts -->
      <div class="col-md-4">
        <!-- Info Boxes Style 2 -->
        <div class="info-box bg-yellow">
          <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Discounts Used</span>
            <span class="info-box-number">5,200</span>

            <div class="progress">
              <div class="progress-bar" style="width: 50%"></div>
            </div>
            <span class="progress-description">
                  40% Increase in 30 Days
                </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box bg-green">
          <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Product Reviews</span>
            <span class="info-box-number">1000</span>

            <div class="progress">
              <div class="progress-bar" style="width: 20%"></div>
            </div>
            <span class="progress-description">
                  40% Increase in 30 Days
                </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box bg-red">
          <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Purchases</span>
            <span class="info-box-number">100,000</span>

            <div class="progress">
              <div class="progress-bar" style="width: 70%"></div>
            </div>
            <span class="progress-description">
                  40% Increase in 30 Days
                </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
        <div class="info-box bg-aqua">
          <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Order Cancellation</span>
            <span class="info-box-number">1</span>

            <div class="progress">
              <div class="progress-bar" style="width: 40%"></div>
            </div>
            <span class="progress-description">
                  40% Increase in 30 Days
                </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

    </div>

    <div class="row">

      <!-- Best Seller Products -->
      <div class="col-sm-8">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Best Seller Products</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table no-margin">
                    <thead>
                      <tr>
                        <th>SKU</th>
                        <th>Product Name</th>
                        <th style="width: 20%">Quantity Bought</th>
                        <th>Sales</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>
                      <tr>
                        <td>1000</td>
                        <td>Gatas Kalabaw Choco 1000ml</td>
                        <td>10</td>
                        <td>Php 2,000.00</td>
                      </tr>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- Payment Methods -->
      <div class="col-sm-4">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Payment methods</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <canvas id="donutChart" width="400" height="250"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->



 <%- include('../../../templates/admin-aside.ejs') -%>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<%- include('../../../templates/admin-footer.ejs') -%>


<script src="/assets/admin/bower_components/chart.js/dist/Chart.js"></script>


<script>
  var ctx = document.getElementById("recapChart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul","Aug","Sept","Oct","Nov","Dec"],
          datasets: [{
              label: '# of Votes',
              data: [1500, 1900, 3000, 5000, 6000, 3500, 1500, 4000, 1456, 2367, 2000, 5600],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });



  var donut = document.getElementById("donutChart");
  var myDoughnutChart = new Chart(donut, {
      type: 'doughnut',
      data: {
              datasets: [{
                  data: [10, 20],
                  backgroundColor: [
                      'rgba(93, 238, 117, 1)',
                      'rgba(117, 197, 234, 1)'

                  ]
              }],

              // These labels appear in the legend and in the tooltips when hovering different arcs
              labels: [
                  'Cash on Delivery',
                  'Bank Deposits'
              ]
            }
  });
</script>

<script>
  var obj = {
      type: 'dough',
      data: {
          datasets: [{
              data: [10, 20, 30]
          }],

          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: [
              'Red',
              'Yellow',
              'Blue'
          ]
        }
    };
  console.log(obj.data.datasets[0].data)
</script>


<script>
$('#title').html("USG | Sales Reports");
$(".treeview a:contains('Reports')").parent().addClass("active");
$(".navi a:contains('Sales')").parent().addClass("active");
</script>


</body>
</html>
