<%- include('../../../templates/master.ejs') -%>

<div class="container container-errorpage">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-8 col-md-7 col-lg-5" style="margin-top: 60px;">
      <div class="container text-center"><br/><img src="/customer-assets/images/static/usg-green.png" onContextMenu="return false"/>
        <h1>Sample Page</h1>
        <a href="/home" role="button" aria-pressed="true" class="btn btn-secondary btn-md" style="width: 110px">Home</a>
        <br>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<%- include('../../../templates/scripts.ejs') -%>
<script src="/customer-assets/scripts/jspdf-customfonts/dist/jspdf.min.js"></script>
<script src="/customer-assets/scripts/jspdf-customfonts/dist/jspdf.customfonts.min.js"></script>
<script src="/customer-assets/scripts/jspdf-customfonts/dist/default_vfs.js"></script>
<script type="text/javascript">
$(() => {
  let doc = new jsPDF();

  doc.addFont('Poppins-Regular.ttf', 'Poppins-Regular', 'normal');
  doc.addFont('Poppins-Light.ttf', 'Poppins-Light', 'normal');
  doc.addFont('Poppins-ExtraLight.ttf', 'Poppins-ExtraLight', 'normal');

  // BANK
  // Borders
  doc.setDrawColor(112, 112, 112);
  doc.rect(18, 15, 174, 72.5); // main box
  doc.rect(110, 22, 77, 25); // summary box
  doc.line(22, 50, 187, 50); // horizontal line top
  doc.line(22, 74, 187, 74); // horizontal line bottom
  doc.setDrawColor(18, 187, 173);
  doc.setFillColor(18, 187, 173);
  doc.rect(18, 15, 174, 3, 'FD'); // topbar

  // Brand Title
  doc.setFont('Poppins-Regular');
  doc.setFontSize('18');
  doc.text(22, 27, `ULTRA SUPER GREEN`);
  // Brand Subtitle
  doc.setFont('Poppins-ExtraLight');
  doc.setFontSize('9');
  doc.text(22, 31.3, `Katipunan Ave. Quezon City`);
  doc.text(22, 35.8, `0955 9044744  |  (02)738 1202`);

  // Summary
  // Labels
  doc.setFont('Poppins-Light');
  doc.setFontSize('9');
  doc.text(112, 28.5, `Order Number:`);
  doc.text(112, 35.5, `Total Amount Due:`);
  doc.text(112, 42.5, `Bank Service Fee:`);
  // Values
  doc.setFont('Poppins-Regular');
  doc.setFontSize('12');
  doc.text(185, 28.8, '#2745', 'right' );
  doc.text(185, 35.8, 'PHP 1,000.00', 'right' );
  doc.text(185, 42.8, '25.00', 'right' );

  // Title
  doc.setFont('Poppins-Regular');
  doc.setFontSize('18');
  doc.text(22, 46, `BANK'S COPY`);

  // Content
  doc.setFont('Poppins-Light');
  doc.setFontSize('10');
  doc.text(22, 56, `Name:`);
  doc.text(22, 63, `Account Number:`);
  doc.text(22, 70, `Clearing Account No:`);

  doc.setFont('Poppins-Regular');
  doc.setFontSize('12');
  doc.text(70, 56.2, `BALMACEDA, JON ERVIN B.`);
  doc.text(70, 63.2, `#1743`);
  doc.text(70, 70.2, `0682-2220-14`);

  // Foot Note
  doc.setFont('Poppins-ExtraLight');
  doc.setFontSize('9');
  doc.text(22, 79, `This is the Bank’s copy. Detach this part and present to the Bank Teller (together with the Bank’s fully-`);
  doc.text(22, 83, `accomplished Deposit Slip). This document is valid until`);
  doc.setFont('Poppins-Regular');
  doc.text(109, 83, `NOVEMBER 22, 2016.`);

  // --------------------------------------------------
  doc.setDrawColor(0, 0, 0);
  let x=18, w=23
  for(i=0; i<=24; i++){ // broken lines
    doc.line(x, 92, w, 92);
    x+=7.04; w+=7.04;
  }
  doc.setTextColor(82, 86, 89);
  doc.setFont('Poppins-Light');
  doc.setFontSize('9');
  doc.text(18, 96.5, `Cut Here`);
  doc.setTextColor(0);

  // --------------------------------------------------

  // CUSTOMER
  let ext= 85;

  doc.setDrawColor(112, 112, 112);
  doc.rect(18, 15+ext, 174, 68.5); // main box
  doc.rect(110, 22+ext, 77, 25); // summary box
  doc.line(22, 50+ext, 187, 50+ext); // horizontal line top
  doc.line(22, 74+ext, 187, 74+ext); // horizontal line bottom
  doc.setDrawColor(18, 187, 173);
  doc.setFillColor(18, 187, 173);
  doc.rect(18, 15+ext, 174, 3, 'FD'); // topbar

  // Brand Title
  doc.setFont('Poppins-Regular');
  doc.setFontSize('18');
  doc.text(22, 27+ext, `ULTRA SUPER GREEN`);
  // Brand Subtitle
  doc.setFont('Poppins-ExtraLight');
  doc.setFontSize('9');
  doc.text(22, 31.3+ext, `Katipunan Ave. Quezon City`);
  doc.text(22, 35.8+ext, `0955 9044744  |  (02)738 1202`);

  // Summary
  // Labels
  doc.setFont('Poppins-Light');
  doc.setFontSize('9');
  doc.text(112, 28.5+ext, `Order Number:`);
  doc.text(112, 35.5+ext, `Total Amount Due:`);
  doc.text(112, 42.5+ext, `Bank Service Fee:`);
  // Values
  doc.setFont('Poppins-Regular');
  doc.setFontSize('12');
  doc.text(185, 28.8+ext, '#2745', 'right' );
  doc.text(185, 35.8+ext, 'PHP 1,000.00', 'right' );
  doc.text(185, 42.8+ext, '25.00', 'right' );

  // Title
  doc.setFont('Poppins-Regular');
  doc.setFontSize('18');
  doc.text(22, 46+ext, `CUSTOMER'S COPY`);

  // Content
  doc.setFont('Poppins-Light');
  doc.setFontSize('10');
  doc.text(22, 56+ext, `Name:`);
  doc.text(22, 63+ext, `Account Number:`);
  doc.text(22, 70+ext, `Date of Order:`);

  doc.setFont('Poppins-Regular');
  doc.setFontSize('12');
  doc.text(70, 56.2+ext, `BALMACEDA, JON ERVIN B.`);
  doc.text(70, 63.2+ext, `#1743`);
  doc.text(70, 70.2+ext, `NOVEMBER 15, 2016`);

  // Foot Note
  doc.setFont('Poppins-ExtraLight');
  doc.setFontSize('9');
  doc.text(22, 79+ext, `This is your copy. Keep this part in a safe place. This document is valid until`);
  doc.setFont('Poppins-Regular');
  doc.text(138.5, 79+ext, `NOVEMBER 22, 2016.`);

  doc.save('UltraSuperGreen Deposit Slip.pdf');
  console.log('PDF Downloaded!');
});
</script>

<%- include('../../../templates/closer.ejs') -%>
