<html>
<head>
  <link rel="icon" type="image/png" href="/assets/images/static/usg-green.png" />
  <title>Ultra Super Green - Consignor</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/loginFiles/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
  <link rel="stylesheet" href="/assets/custom/styles.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/cons-register.css" type="text/css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" >
  <link rel="stylesheet" href="/assets/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/consignor-dash.css" type="text/css">

</head>
<body>
