<html>
<head>
  <link rel="icon" type="image/png" href="/customer-assets/images/static/usg-green.png" />
  <title>Ultra Super Green</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />


  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/loginFiles/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/consignor/simplebar.css" />

  <link rel="stylesheet" href="/assets/consignor/export.min.css" type="text/css" media="all" >
  <link rel="stylesheet" href="/assets/jquery/jquery-ui.min.css">
  <link rel="stylesheet" href="/assets/consignor/css/style.css" type="text/css">
  <link rel="stylesheet" href="/assets/consignor/css/consignor-dash.css" type="text/css">

  <link rel="stylesheet" type="text/css" href="/customer-assets/loginFiles/fonts/iconic/css/material-design-iconic-font.min.css">

  <link rel="stylesheet" href="/customer-assets/custom/styles.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/assets/admin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css"> -->


</head>

<body>

  <nav class="navbar navbar-expand-lg bg-custom-primary navbar-dark pt-0">
      <div class="container">
        <a class="navbar-brand" href="consignor-dash"><i class="fa d-inline fa-lg fa-shopping-cart"></i><b>&nbsp;UltraSuperGreen</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
          aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end pt-1" id="navbar2SupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item mr-2">
              <a class="nav-link" href="/consignor/products" style="padding-bottom: 16px;"><i class="fa d-inline fa-lg fa-leaf"></i>&nbsp; My Products</a>
            </li>

            <li class="nav-item drop-menu mr-2">
              <a class="nav-link dropdown-toggle pb-3" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa d-inline fa-lg fa-bar-chart"></i>&nbsp; Sales</a>
              <div class="drop-menu-content-con">
                <p>
                  <a href="/consignorSales">All Sales</a>
                </p>
                <p>
                  <a href="/consignorSales/paymentReceipts">Payment Receipts</a>
                </p>
              </div>
            </li>



            <li class="nav-item drop-menu mr-2">
              <a class="nav-link dropdown-toggle pb-3" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa d-inline fa-lg fa-cart-arrow-down"></i>&nbsp; Orders</a>
              <div class="drop-menu-content-con">
                <p>
                  <a href="/consignor/orders">Pending Orders</a>
                </p>
                <p>
                  <a href="/consignor/receivedOrders">Delivered Orders</a>
                </p>
              </div>
            </li>

            <li class="nav-item mr-2">
              <a class="nav-link" href="/consignor/returns" style="padding-bottom: 16px;"><i class="fa d-inline fa-lg fa-undo"></i>&nbsp; Returns</a>
            </li>
            <li class="nav-item drop-menu mr-2">
              <a class="nav-link dropdown-toggle pb-3" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa d-inline fa-lg fa-bar-chart"></i>&nbsp; Requests</a>
              <div class="drop-menu-content-con">
                <p>
                  <a href="/consRequests">New Product</a>
                </p>
                <p>

                </p>
              </div>
            </li>
            <li class="nav-item drop-menu mr-2">
              <a class="nav-link dropdown-toggle pb-3" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa d-inline fa-lg fa-gear"></i>&nbsp;</a>
              <div class="drop-menu-content-con">
                <p>
                  <a href="/login">Log Out</a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
