<div class="bg-custom-info foot">
  <div class="foot-cont">
    <div class="container">
      <div class="row py-3">
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Ultra Super Green</h2>
          <ul class="list-unstyled">Your nearby hub for local, organic, herbal, all-natural and free range goodness conveniently located along Katipunan Ave., Quezon City We are here to support your healthy lifestyle.<br/><br/> If you are looking for local, organic, all natural,
            herbal, GMO free, healthy goodness and eco-friendly products, then Ultra Super Green is for you.</ul>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Contact</h2>
          <p><i class="fa d-inline mr-3 fa-phone"></i>0955 9044744  |  (02)738 1202</p>
          <p><a href="mailto:custom-info.ultrasupergreen@gmail.com"><i class="fa d-inline mr-3 fa-envelope-o"></i>custom-information: custom-info.ultrasupergreen@gmail.com</a></p>
          <p><a href="mailto:mktg.ultrasupergreen@gmail.com"><i class="fa d-inline mr-3 fa-envelope-o"></i>Consignment: mktg.ultrasupergreen@gmail.com</a></p>
          <p><a href="https://www.facebook.com/pg/UltraSuperGreen"><i class="fa d-inline mr-3 fa-facebook-square"></i>https://www.facebook.com/pg/UltraSuperGreen</a></p>
          <p><i class="fa d-inline mr-3 fa-map-marker"></i>Elizabeth Hall- Ground Flr. Lot1 Blk. 41 Katipunan Ave. Loyola Heights, Q.C. Quezon City, Philippines</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col mt-1 pt-2 registered">
          <p class="text-center">Ultra Super Green</p>
        </div>
      </div>
    </div>
  </div>
</div>
