<div class="bg-custom-info foot" style="clear: both;">
  <div class="foot-cont">
    <div class="container">
      <div class="row py-3">
        <div class="p-4 col-lg-4">
          <h2 class="mb-4">Ultra Super Green</h2>
          <p class="mb-3">Your nearby hub for local, organic, herbal, all-natural and free range goodness conveniently located along Katipunan Ave., Quezon City. We are here to support your healthy lifestyle.
          </p>
          <ul class="list-unstyled list-inline social">
						<li class="list-inline-item pr-1"><a href="https://www.facebook.com/UltraSuperGreen" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<!-- <li class="list-inline-item pr-1"><a href=""><i class="fa fa-twitter"></i></a></li> -->
						<li class="list-inline-item pr-1"><a href="https://www.instagram.com/ultrasupergreen" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
        </div>
        <div class="p-4 col-lg-4">
          <h2 class="mb-4">Contact</h2>
          <div class="col p-0">
            <p><i class="fa d-inline mr-3 fa-phone"></i>0955 9044744  |  (02)738 1202</p>
            <p><i class="fa d-inline mr-3 fa-envelope-o"></i><a href="mailto:custom-info.ultrasupergreen@gmail.com">info.ultrasupergreen@gmail.com</a></p>
            <p><i class="fa d-inline mr-3 fa-envelope-o"></i><a href="mailto:mktg.ultrasupergreen@gmail.com">mktg.ultrasupergreen@gmail.com</a></p>
            <p><i class="fa d-inline mr-3 fa-map-marker"></i>G/F Elizabeth Hall Bldg., Katipunan Ave. Quezon City 1108</p>
          </div>

        </div>
        <div class="p-4 col-lg-4">
          <h2 class="mb-4">Navigation</h2>
          <div class="row">
            <div class="col-6">
              <p><a href="/store"><i class="fa fa-angle-double-right pr-2"></i>Food</a></p>
              <p><a href="/store"><i class="fa fa-angle-double-right pr-2"></i>Supplement</a></p>
              <p><a href="/store"><i class="fa fa-angle-double-right pr-2"></i>Hygiene</a></p>
              <p><a href="/store"><i class="fa fa-angle-double-right pr-2"></i>Cosmetics</a></p>
              <p><a href="/store"><i class="fa fa-angle-double-right pr-2"></i>Stationary</a></p>
            </div>
            <div class="col-6">
            <p><a href=""><i class="fa fa-angle-double-right pr-2"></i>FAQs</a></p>
              <p><a href="/account/dashboard"><i class="fa fa-angle-double-right pr-2"></i>Dashboard</a></p>
              <p><a href="/account/orders"><i class="fa fa-angle-double-right pr-2"></i>Orders</a></p>
              <p><a href="/account/payment"><i class="fa fa-angle-double-right pr-2"></i>Payments</a></p>
              <p><a href="/account/cancellations"><i class="fa fa-angle-double-right pr-2"></i>Cancelled</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid pb-2">
      <div class="row">
        <div class="col mt-1 pt-2 registered">
          <p class="text-center" style="color: rgba(255, 255, 255, 0.5)">&copy;&nbspUltra Super Green</p>
        </div>
      </div>
    </div>
  </div>
</div>
