<html>
<head>
  <link rel="icon" type="image/png" href="/customer-assets/images/static/usg-green.png" />
  <title>Ultra Super Green</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/customer-assets/font-awesome-4.7.0/css/font-awesome.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="/customer-assets/loginFiles/fonts/iconic/css/material-design-iconic-font.min.css">
  <link rel="stylesheet" href="/customer-assets/bootstrap/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" /> -->
  <link rel="stylesheet" href="/customer-assets/custom/static/simplebar.css" />
  <link rel="stylesheet" href="/customer-assets/custom/styles.css" type="text/css" />

</head>
<body>
  <div id="container">
    <div id="body">
