<%- include('master.ejs') -%>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"> -->
<link rel="stylesheet" href="/customer-assets/custom/static/mCustomScrollbar.css" />
<!-- CUSTOMER STYLES -->
<link rel="stylesheet" href="/customer-assets/custom/cart.css" type="text/css" />
<link rel="stylesheet" href="/customer-assets/custom/cart-cards.css" type="text/css" />
<link rel="stylesheet" href="/customer-assets/custom/quantity.css" type="text/css" />
<link rel="stylesheet" href="/customer-assets/custom/product-cards.css" type="text/css" />
<link rel="stylesheet" href="/customer-assets/custom/modal-product-to-cart.css" type="text/css" />

<style>
  .mCSB_inside>.mCSB_container {
    margin-right: 10px !important;
  }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: var(--cart-button-color);
    ;
  }
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: white;
    opacity: 0;
  }
  @media screen and (max-height: 241px) {
    .list-unstyled.components.mCustomScrollbar._mCS_2.mCS-autoHide {
      width: 383px !important;
    }
  }
</style>

<nav id="cart-sidebar">
  <div id="cart-container">
    <div id="reload" class="cart-header-button">
      <i class="zmdi zmdi-rotate-right" style="font-size: 20px; font-weight: 500"></i>
      <svg version="1.1" id="SVG_refreshCart" hidden>
        <rect x="2" y="0" width="3" height="8">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 10; 0 0"
            begin="0" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="8" y="0" width="3" height="8">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 10; 0 0"
            begin="0.2s" dur="0.6s" repeatCount="indefinite" />
        </rect>
        <rect x="14" y="0" width="3" height="8">
          <animateTransform attributeType="xml"
            attributeName="transform" type="translate"
            values="0 0; 0 10; 0 0"
            begin="0.4s" dur="0.6s" repeatCount="indefinite" />
        </rect>
      </svg>
    </div>
    <div id="dismiss" class="cart-header-button">
      <i class="zmdi zmdi-arrow-right" style="font-size: 20px; font-weight: 500"></i>
    </div>
    <div class="cart-sidebar-header">
      <h2>Your Cart</h2>
    </div>
    <button id="getCart" type="button" hidden></button>
    <ul class="list-unstyled components">
      <div id="cart-pad">
        <!-- cart cards -->
      </div>
    </ul>

    <ul class="list-unstyled checkout">
      <p>Subtotal</p>
      <button id="subtotal-btn" type="button" hidden></button>
      <p class="price-symbol"></p>
      <li><a href="/summary/checkout" class="article">Check Out</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-custom-primary navbar-dark pt-0">
  <div class="container"><a href="/home" class="navbar-brand"><img src="/customer-assets/images/static/usg-white.png" alt="USG" height="35 " width="42"/><b> Ultra Super Green</b></a>
    <button type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="navbar-toggler-icon"></span></button>
    <div id="navbar2SupportedContent" class="collapse navbar-collapse text-center justify-content-end pt-1">
      <ul class="navbar-nav">
        <li class="nav-item mr-2 searchbar">
          <form class="form-inline">
            <div class="input-group search" style="padding-top: 3px;">
              <input type="text" placeholder="Search" class="form-control form-control-sm search" />
              <div class="input-group-append">
                <button type="button" class="btn btn-custom-sub"><i class="fa fa-fw fa-search"></i></button>
              </div>
            </div>
          </form>
        </li>
        <li class="nav-item mr-2">
          <a href="/home" class="nav-link"><i class="fa d-inline fa-lg fa-home"></i>  Home</a></li>
        <li class="nav-item drop-menu mr-2">
          <a href="/store" class="nav-link"><i class="fa d-inline fa-lg fa-leaf"></i>  Products</a></li>
        <li id="nav-cart" class="nav-item mr-1 cursor-pointer">
          <a id="cartSidebarCollapse" class="nav-link"><i class="fa d-inline fa-lg fa-shopping-cart"></i>  Cart</a></li>
        <li class="nav-item dropdown cursor-pointer">
          <a id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-top: 12px;" class="nav-link dropdown-toggle"><i class="fa fa-fw fa-cog"></i></a>
          <div id="nav-setting-dropdown" aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right">
            <% if (thisUser){ %>
              <a href="/account/dashboard" class="dropdown-item"><%= thisUser.strFname %></a>
            <% }else{ %>
              <a href="/account/dashboard" class="dropdown-item">Account</a>
            <% } %>
            <a href="/account/messages" class="dropdown-item">Messages</a>
            <a href="/home/faq" class="dropdown-item">FAQs</a>
            <hr id="hzline" />
            <a href="/login" class="dropdown-item"><i class="fa d-inline fa-lg fa-sign-out pr-2"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="overlay"></div>
