<%- include('navbar.ejs') -%>

<div id="sidebar" class="container">
  <div class="row">
    <div class="col">
      <h5><b>Product Categories</b></h5>
      <a href="/store">
        <h5><b>All Products</b></h5></a>
      <a href="/store">
        <h5><b>Food &amp; Beverages</b></h5></a>
      <a href="/store">
        <h5><b>Supplements</b></h5></a>
      <a href="/store">
        <h5><b>Hygiene</b></h5></a>
      <a href="/store">
        <h5><b>Cosmetics</b></h5></a>
      <a href="/store">
        <h5><b>Stationary</b></h5></a>
    </div>
    <div class="col">
      <div id="topbar" class="row">
        <div class="col"><i class="fa d-inline fa-lg fa-product-hunt mr-2"></i><span class="mr-2">Categories</span> <a href="/store"><i class="fa d-inline fa-lg fa-align-left mr-2"></i>            <span class="top-desc mr-2">All</span></a> <a href="/store"><i class="fa d-inline fa-lg fa-cutlery mr-2"></i>            <span class="top-desc mr-2">Food &amp; Beverage</span></a>          <a href="/store"><i class="fa d-inline fa-lg fa-medkit mr-2"></i>            <span class="top-desc mr-2">Supplements</span></a> <a href="/store"><i class="fa d-inline fa-lg fa-fw fa-shower mr-2"></i>            <span class="top-desc mr-2">Hygiene</span></a>          <a href="/store"><i class="fa d-inline fa-lg fa-eye mr-2"></i>            <span class="top-desc mr-2">Cosmetics</span></a> <a href="/store"><i class="fa d-inline fa-lg fa-paperclip mr-2"></i>            <span class="top-desc mr-2">Stationary</span></a></div>
      </div>
      <div id="main-content">
