<%- include('navbar.ejs') -%>

<div id="sidebar" class="container">
  <div class="row">
    <div class="col">
      <h5><b>John Doe</b></h5>
      <a href="/account/dashboard">
        <h5><b>Dashboard</b></h5></a>
      <a href="/account/orders">
        <h5><b>Orders</b></h5></a>
      <a href="/account/payment">
        <h5><b>Payment</b></h5></a>
      <a href="/account/cancellations">
        <h5><b>Cancellations</b></h5></a>
    </div>
    <div class="col">
      <div id="topbar" class="row">
        <div class="col">
          <i class="fa d-inline fa-lg fa-user mr-2"></i>
          <span class="mr-2">John Doe</span>
          <a href="/account/dashboard">
            <i class="fa d-inline fa-lg fa-columns mr-2"></i>
            <span class="top-desc mr-2">Dashboard</span></a>
          <a href="/account/orders">
            <i class="fa d-inline fa-lg fa-shopping-cart mr-2"></i>
            <span class="top-desc mr-2">Orders</span></a>
          <a href="/account/payment">
            <i class="fa d-inline fa-lg fa-fw fa-money mr-2"></i>
            <span class="top-desc mr-2">Payment</span></a>
          <a href="/account/cancellations">
            <i class="fa d-inline fa-lg fa-ban mr-2"></i>
            <span class="top-desc mr-2">Cancellations</span></a>
        </div>
      </div>
      <div id="main-content">
