<%- include('../../../templates/navbar.ejs') -%>

<script>
  function printExternal(url) {
    var printWindow = window.open(url, 'Print', 'left=200, top=100, width=950, height=500, toolbar=0, resizable=0');
    printWindow.addEventListener('load', function() {
      printWindow.print();
      printWindow.close();
    }, true);
  }
</script>

<div id="content" class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div id="inner-content" class="col-md-7">
          <div style="text-align:center;">
            <h4 class="lead pl-1 pb-2"><b>Order Summary</b></h4>
          </div>
          <div class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-6 mb-2"><a href="item.html"><img src="/assets/images/static/img1.jpg" class="img-fluid d-block tab-img"/></a></div>
                <div class="col-lg-8 col-6 mb-2 order-summary-desc">
                  <h4><b>Keto Loaf</b></h4><br/><small>Price: ₱ 115</small><br/><small>Quantity: 1</small><br/>
                  <h4 class="mb-1 mt-2"><b>Total:</b> ₱ 115</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-6 mb-2"><a href="item.html"><img src="/assets/images/static/img2.jpg" class="img-fluid d-block tab-img"/></a></div>
                <div class="col-lg-8 col-6 mb-2 order-summary-desc">
                  <h4><b>Shahani's Gatas Kalabaw</b></h4><br/><small>Price: ₱ 150</small><br/><small>Quantity: 2</small><br/>
                  <h4 class="mb-1 mt-2"><b>Total:</b> ₱ 300</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4 col-6 mb-2"><a href="item.html"><img src="/assets/images/static/img3.jpg" class="img-fluid d-block tab-img"/></a></div>
                  <div class="col-lg-8 col-6 mb-7 order-summary-desc">
                    <h4><b>Raw Cordyceps</b></h4><br/><small>Price: ₱ 105</small><br/><small>Quantity: 4</small><br/>
                    <h4 class="mb-1 mt-2"><b>Total:</b> ₱ 420</h4>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div style="position:relative;" class="col-md-4 mx-4">
          <div style="min-width: 304px" class="absolute-payment">
            <div class="payment-content">
              <div style="text-align:center; background: #12BBAD; border-radius: 5px;">
                <h4 class="lead pl-1 pb-2 text-white pt-1"><b>Order#002363868</b></h4>
              </div>
              <div class="row px-1">
                <div class="col-7">
                  <p class="mb-2"><b>Date Ordered:</b></p>
                  <p class="mb-2"><b>Payment Method:</b></p>
                  <p class="mb-2"><b>Date of Payment:</b></p>
                  <a onclick="printExternal('/invoice');" class="fake-link">
                    <p class="mb-0"><b>Print Invoice</b></p>
                  </a>
                </div>
                <div class="col-5">
                  <p class="mb-2">April 04, 2018</p>
                  <p class="mb-2">Bank Deposit</p>
                  <p class="mb-2">April 10, 2018</p>
                </div>
              </div>
            </div>
            <div class="payment-content">
              <div class="row">
                <div class="col-6">
                  <p><b class="mr-2">Sub-total:</b></p>
                  <p class="mb-0"><b class="mr-2">VAT:</b></p>
                </div>
                <div class="col-6">
                  <p><span style="padding-left: 12px;" class="mx-4">₱</span> 835.00</p>
                  <p class="mb-0"><span style="padding-left: 12px;" class="mx-4">₱</span> &nbsp&nbsp69.58</p>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col">
                  <p class="mb-0"><b>TOTAL:</b></p>
                </div>
                <div class="col">
                  <p class="mb-0"><span style="padding-left: 12px;" class="mx-4">₱</span> 904.58</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../../templates/scripts.ejs') -%>
<%- include('../../../templates/scripts-customer.ejs') -%>
<%- include('../../../templates/closer.ejs') -%>
